.title-main {
  text-align: center;
  margin: 10% 5% 5%;
}
@media (min-width: 768px) {
  .title-main {
    margin: 7% 3% 3%;
  }
}
@media (min-width: 990px) {
  .title-main {
    margin: 4% 0 1%;
  }
}
@media (min-width: 1024px) {
  .title-main {
    margin: 3% 0 2%;
  }
}
